<launch>
	
     <!--整体点云高度过滤-->
	<arg name="filter_z_min" default="-0.5"/>
	<arg name="filter_z_max" default="1.6"/>



	<param name="filter_z_min" value="$(arg filter_z_min)"/>
	<param name="filter_z_max" value="$(arg filter_z_max)"/>

	<node pkg="movebase_3d" type="movebase_3d" name="movebase_3d" clear_params="true">

	</node>

</launch>
